/* mobile first approach */
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  color: white;
}

nav {
  box-sizing: border-box;
  height: 8vh;
  padding: 2vh 2vw;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

nav a {
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  color: black;
}
/* nav bar elements hover effects */
nav a:hover {
  color: black;
}

/* first-pane intro section of website */
.first-pane {
  box-sizing: border-box;
  min-height: 46vh;
  display: grid;
  grid-gap: 0rem;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
}

/* first div in pane (top left) */
.first-pane div:first-child {
  background: url("macbook.jpg");
  background-size: 100% 100%;
  /* filter: grayscale(100%); */
  /* filter: invert(75%); */
  opacity: 0.7;
}
/* last div in first-pane (bottom right)*/
.first-pane div:last-child {
  background-image: url("me.jpg");
  background-size: 100% 100%;
  /* filter: invert(75%); */
  opacity: 0.7;
}

.first-pane div:first-child:hover,
.first-pane div:last-child:hover {
  opacity: 1;
  /* filter: grayscale(100%); */
  /* filter: invert(0%); */
}

/*second div in first-pane with text */
.first-pane .typescript {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first-pane .typescript p {
  /* margin-right: 5px; */
  font-family: "Courier";
  font-size: 9.5px;
  /* font-weight: bolder; */
  font-weight: 900;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.first-pane .typescript p:nth-child(2) {
  border-right: 0.15em solid orange;
  width: 6.5em;
  opacity: 0;
  /* setting animation to second p */
  animation: type 2s steps(40, end);
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.first-pane .typescript p:nth-child(3) {
  border-right: 0.15em solid orange;
  width: 15.85em;
  opacity: 0;
  /* setting animation to third p */
  animation: type2 3s steps(40, end), blink 0.5s step-end infinite alternate;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* resources:
14 Simple CSS 3D Text Effects You Should Download 2019:
https://alinadigitalservices.com/css-3d-text-effects

CSS Grid #14. Centering and Aligning Items in CSS Grid:
https://www.joomlashack.com/blog/tutorials/center-and-align-items-in-css-grid/

15 Web Developer Portfolios to Inspire You
https://medium.freecodecamp.org/15-web-developer-portfolios-to-inspire-you-137fb1743cae

startbuilding a simple Portfolio Website for a Junior Developer
https: ; //dev.to/mrfrontend/start-building-a-simple-portfolio-website-for-a-junior-developer-e30 */

/* typewrite tricks:
https://css-tricks.com/snippets/css/typewriter-effect/
https://codepen.io/anon/pen/pBXVJB */
